<div class="container" >


  <div class="card big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo %>');">
    <div class="card-category">Popular</div>
    <div class="card-name">
      <h2><%= @cocktail.name %></h2>
      <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary" %> |
      <%= link_to "Delete", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger" %>
    </div>
    <br>
    <div class="card-description">
      <ul>
      <% @cocktail.doses.each do |dose|%>
        <li>
          <%= "#{dose.ingredient.name.capitalize}: #{dose.description}.        |"%>
            <%= link_to 'Delete dose', dose_path(dose), method: :delete, class: "zepateforcat" %>
        <br>
        </li>
      <% end %>
      </ul>
    </div>
    <%= image_tag ('nico.JPG'), class: "avatar card-user"%>
 </div>


  <br>



  <p>Add a dose to your cocktail</p>

  <%=simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.input :description %>
    <%= f.submit "add a dose", class: "btn btn-primary" %>
  <%end%>

</div>
