<%=link_to "back to menu", cocktails_path, class: "btn btn-primary" %>
<br>
<%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
<%= link_to "Delete", cocktail_path(@cocktail),
    class: "btn btn-primary",
    method: :delete,
    data: { confirm: "Are you sure?" } %>

<p>
<%= @cocktail.name %>
<br>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<br>
<% @cocktail.doses.each do |dose|%>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to 'Delete dose', dose_path(dose), method: :delete %>
      <br>
      <% end %>
</p>


<p>Add a dose to your cocktail</p>

<%=simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<%end%>

